/* BREAKPOINTS ------------------------------------------ */

$sm: 575; 
$md: 767;
$lg: 991;
$xl: 1199;

/* COLORS ----------------------------------------------- */

$grayColor: #EAF2F5;
$whiteColor: #FFFFFF;
$textColor: #22253B;
$orangeColor: #F15525;


/* SETTINGS --------------------------------------------- */

$containerWidth: 1180;
$maxWidth: 1400;

body {
    background-color: $grayColor;
}





